{% extends 'base_SRT.html' %}
{% load static %}
{% block content %}


<section id="hero" class="d-flex align-items-start flex-column justify-content-center" style=" padding: 10px;">

    <div class="w-100"> 희망하는 열차를 선택하세요 </div>

    <div class="list-group w-100" style="max-height: 400px; overflow-y: auto; margin-right: 20px; border: 2px solid #6c757d; border-radius: 0.25rem;">
        <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
            열차1
        </button>
        <button type="button" class="list-group-item list-group-item-action">열차2</button>
        <button type="button" class="list-group-item list-group-item-action">A third button item</button>
        <button type="button" class="list-group-item list-group-item-action">A fourth button item</button>
        <button type="button" class="list-group-item list-group-item-action">A second button item</button>
        <button type="button" class="list-group-item list-group-item-action">A third button item</button>
        <button type="button" class="list-group-item list-group-item-action">A fourth button item</button>
        <button type="button" class="list-group-item list-group-item-action">A second button item</button>
        <button type="button" class="list-group-item list-group-item-action">A third button item</button>
        <button type="button" class="list-group-item list-group-item-action">A fourth button item</button>
        <button type="button" class="list-group-item list-group-item-action" disabled>A disabled button item</button>
    </div>
</section><!-- End Hero -->





{% endblock %}

