{% extends 'base_SRT.html' %}
{% load static %}
{% block content %}



<section id="hero" class="d-flex align-items-start flex-column justify-content-center" style=" padding: 10px; margin-top: 120px; padding: 5dvh">
    {% if trains %}
    <div class="w-100" style="margin-bottom: 10px;"> 예약을 희망하는 열차를 선택하세요 </div>
    <div class="list-group w-100" style="max-height: 400px; overflow-y: auto; margin-right: 20px; border: 2px solid #6c757d; border-radius: 0.25rem;">

        {% for train in trains %}
        <button type="button" class="list-group-item list-group-item-action" onclick="handleButtonClick(this)"> {{ train }}</button>
        {% endfor %}

    </div>
    {% else %}
    <div class="w-100" style="margin-bottom: 10px;"> 예약 가능한 열차가 없습니다. </div>
    {% endif %}
</section><!-- End Hero -->


    <div class="d-flex align-items-center justify-content-center flex-column mb-3">
        <textarea type="hidden" name="content" id="selectedtrain" class="form-control mb-3" rows="1" style="display: none;"></textarea>        
        <input type="submit" value="매크로 시작" class="btn btn-primary">
    </div>
    
    
    
</form>


{% endblock %}


{% block script %}
<script type='text/javascript'>
    function handleButtonClick(button) {
        // 클릭한 버튼의 텍스트 가져오기
        var buttonText = button.textContent.trim();
        // form 요소에 버튼 텍스트 삽입
        document.getElementById("selectedtrain").value = buttonText;
        console.log("selectedtrain: " , document.getElementById("selectedtrain").value)

        // 모든 버튼의 클래스를 제거하여 선택된 버튼만 활성화 스타일을 적용
        var buttons = document.querySelectorAll('.list-group-item');
        buttons.forEach(function(btn) {
            btn.classList.remove('active');
        });
        button.classList.add('active');

    }
</script>
{% endblock %}

<style>
.list-group-item.active {
        background-color: #007bff;
        color: #fff;
    }
</style>
